h2{
    color: black;
    font-weight: bold;
    font-size: large;

}

li, p {
    color:#9c9c97;

}

.leaned{
    font-style: italic;
}

.capa{
    border: 5px solid black;
    background-color: black;
    
}


.button{

    border: 8px solid #f8f8f4;
    border-radius: 10px;
    background-color: #f3f3ec;
   
}

.capa h1{
    font-family: 'Times New Roman', Times, serif ;
    color: greenyellow;
    font-size: 80px;
    top: 20%;
    width: 100%;
    text-align: center;
}

#menulist{
    float: left;

    margin-left: -35px;
    
}


.menuitem{
    border: 8px solid #f3f3ec;
    border-radius: 12px;
    background-color: #f3f3ec;

    margin: 10px;
    width: 340px;
    list-style-type:none;
   
}


a:link{
    text-decoration: none;
    color: green;
}

.title{
    color: green;
}

.box{

    margin-left: 400px;
    padding: 20px 10px 80px 20px;

    background-color: #f3f3ec;
    

}

.box p{
    
    margin-bottom: 25px;


    font-size: medium;
    text-align: left;
    
 
}


.foot{
    float: right;
    font-size: small;
    margin-bottom: 25px;
}

